@model Urban.Models.Product

@{
    ViewData["Title"] = "Add a new product";
}

<h1>Add a new product</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" text-center>
                <img id="ProductPicturePreview"  />
                </div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescrition" class="control-label"></label>
                <input asp-for="ProductDescrition" class="form-control" />
                <span asp-validation-for="ProductDescrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productprice" class="control-label"></label>
                <input asp-for="Productprice" class="form-control" />
                <span asp-validation-for="Productprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                <br />

                <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
