@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
 <link href="/css/site.css" />
</head>
<body style="background-color:black;text-align:center">
    <div class="pic">
    <img src="./lib/c.jpg">
    </div>
    <div class="text">
        Take<br />care of<br />your skin 

    </div>
     
    <div class="text1">
    Our natural products are designed to clear up any imperfection instantly.<br /> So you can always feel confident in your own skin
    
   

    </div>

</body>
</html>
